docs/ZYNQ_BAJIE_BOARD-master/
docs/riscv_isa_spec.pdf
docs/riscv_privileged_spec.pdf
docs/ZYNQ_BAJIE_BOARD-master.zip

Viv_pr/**
!Viv_pr/biriscv_sys_atrix7.sv
!Viv_pr/biriscv_sys.sv

ms/**
!ms/program8.hex
!ms/Run_sim.tcl
!ms/wave.do

*.bak

src/peripherial/Timer/Timer.pdf
src/peripherial/uart_module/UART.pdf

sw/Hello/Output/
sw/Hello/SEGGER/
sw/Hello/Hello.emProject
sw/Hello/Hello.emSession

Dhry/Segger_pr/Output/
Dhry/Segger_pr/SEGGER/
Dhry/Segger_pr/Hello.emProject
Dhry/Segger_pr/Hello.emSession